# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will also be using the watchlist you just created to figure out which streaming services contain the shows that you want to watch next so you can decide which one is worth the money to you.

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. Remember that during the prep work, we learned that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell.

Stranger things

Gilmore Girls

13 reasons why

Beauty and the Beast

Kung Fu Panda: Legends of Awesomeness

Family reunion

Chosen

Merlin

A Christmas Carol

Supernatural

## Database Setup

To start with, import the necessary libraries and create a dataframe from the provided CSV. Print the info out for the dataframe. After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces in the names or unusual characters such as `"+"`. Print out the info for the dataframe again to ensure that your changes were effective.

In [3]:
import sqlite3 as sl 
import pandas as pd

In [6]:
df = pd.read_csv("tv_shows.csv")

In [7]:
print("Info for the Original DataFrame:")
print(df.info())

Info for the Original DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5368 non-null   int64
 1   ID               5368 non-null   int64
 2   Title            5368 non-null   object
 3   Year             5368 non-null   int64
 4   Age              3241 non-null   object
 5   IMDb             4406 non-null   object
 6   Rotten Tomatoes  5368 non-null   object
 7   Netflix          5368 non-null   int64
 8   Hulu             5368 non-null   int64
 9   Prime Video      5368 non-null   int64
 10  Disney+          5368 non-null   int64
 11  Type             5368 non-null   int64
dtypes: int64(8), object(4)
memory usage: 503.4+ KB
None

In [8]:
df = df.drop(columns=['Unnamed: 0'])

In [9]:
df = df.rename(columns={
    'Rotten Tomatoes': 'Rotten_Tomatoes',
    'Prime Video' : 'Prime_Video',
    'Disney+': 'Disney'
})

In [10]:
print("\nInfo for the Updated DataFrame:")
print(df.info())

Info for the Updated DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               5368 non-null   int64
 1   Title            5368 non-null   object
 2   Year             5368 non-null   int64
 3   Age              3241 non-null   object
 4   IMDb             4406 non-null   object
 5   Rotten_Tomatoes  5368 non-null   object
 6   Netflix          5368 non-null   int64
 7   Hulu             5368 non-null   int64
 8   Prime_Video      5368 non-null   int64
 9   Disney           5368 non-null   int64
 10  Type             5368 non-null   int64
dtypes: int64(7), object(4)
memory usage: 461.4+ KB
None

With your dataframe at the ready, create a new database called `tv`. Add a new table to your database called `shows` using the data in the dataframe.

In [12]:
conn = sl.connect('tv.db')
df.to_sql('shows1', conn)

5368

With your new table and database set up, print out the top 20 records in the `shows`Â table.

In [13]:
with conn:
    data = conn.execute("select * from shows limit 20")
    for row in data:
        print(row)

(0, 1, 'Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)
(1, 2, 'Stranger Things', 2016, '16+', '8.7/10', '96/100', 1, 0, 0, 0, 1)
(2, 3, 'Attack on Titan', 2013, '18+', '9.0/10', '95/100', 1, 1, 0, 0, 1)
(3, 4, 'Better Call Saul', 2015, '18+', '8.8/10', '94/100', 1, 0, 0, 0, 1)
(4, 5, 'Dark', 2017, '16+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(5, 6, 'Avatar: The Last Airbender', 2005, '7+', '9.3/10', '93/100', 1, 0, 1, 0, 1)
(6, 7, 'Peaky Blinders', 2013, '18+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(7, 8, 'The Walking Dead', 2010, '18+', '8.2/10', '93/100', 1, 0, 0, 0, 1)
(8, 9, 'Black Mirror', 2011, '18+', '8.8/10', '92/100', 1, 0, 0, 0, 1)
(9, 10, "The Queen's Gambit", 2020, '18+', '8.6/10', '92/100', 1, 0, 0, 0, 1)
(10, 11, 'Mindhunter', 2017, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(11, 12, 'Community', 2009, '7+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(12, 13, 'Narcos', 2015, '18+', '8.8/10', '90/100', 1, 0, 0, 0, 1)
(13, 14, 'Shameless', 2011, '18+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(14, 15, 'Money Heist', 2017, '18+', '8.3/10', '90/100', 1, 0, 0, 0, 1)
(15, 16, "Marvel's Daredevil", 2015, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(16, 17, 'Lucifer', 2016, '16+', '8.1/10', '90/100', 1, 0, 0, 0, 1)
(17, 18, 'Supernatural', 2005, '16+', '8.4/10', '89/100', 1, 0, 0, 0, 1)
(18, 19, 'The Witcher', 2019, '18+', '8.2/10', '89/100', 1, 0, 0, 0, 1)
(19, 20, 'Ozark', 2017, '18+', '8.4/10', '89/100', 1, 0, 0, 0, 1)

Now add a table that includes an id number and the titles on your watchlist.

In [15]:
with conn:
    conn.execute("""
        CREATE TABLE watchlist1(
            Id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            Title TEXT
        )
    """)

In [17]:
sql = 'INSERT INTO watchlist1 (Id, Title) values (?, ?)'
data = [
    (1, 'Stranger Things'),
    (2, 'Gilmore Girls'),
    (3, '13 reasons why'),
    (4, 'Beauty and the Beast'),
    (5, 'Supernatural'),
    (6, 'Kung Fu Panda: Legends of Awesomeness'),
    (7, 'Family reunion'),
    (8, 'Chosen'),
    (9, 'Merlin'),
    (10, 'A Christmas Carol')
]
with conn:
    conn.executemany(sql, data)

In [19]:
pd.read_sql_query('SELECT * FROM watchlist1', conn)

   Id                                  Title
0   1                        Stranger Things
1   2                          Gilmore Girls
2   3                         13 reasons why
3   4                   Beauty and the Beast
4   5                           Supernatural
5   6  Kung Fu Panda: Legends of Awesomeness
6   7                         Family reunion
7   8                                 Chosen
8   9                                 Merlin
9  10                      A Christmas Carol

## Working with the Data

Using either Pandas or SQL, determine how many shows are on each streaming service and what the mean is for each streaming service. 

**Note**: You may notice that the mean represents the percentage of shows in the dataframe that are on each streaming service. Take a moment to think about why that is.

In [21]:
cols=['Netflix','Hulu','Prime_Video','Disney']
df2 = df[cols].mean()
df2

Netflix        0.367176
Hulu           0.301975
Prime_Video    0.341095
Disney         0.065387
dtype: float64

Join your watchlist data with the shows data to determine which streaming services your watchlist shows are on and make a new table in your database using the joined data. Print out the data in your joined table to see what shows on your watchlist on in the original dataset. With the joined data, determine the percentage of your watchlist shows that are on each streaming service and how many of your watchlist shows are on each streaming service.

In [22]:
df3 = pd.read_sql_query('SELECT * FROM shows1 JOIN watchlist1 ON shows1.Title = watchlist1.Title', conn)
df3

,index,ID,Title,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney,Type,Id,Title
0,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1,1,Stranger Things
1,17,18,Supernatural,2005,16+,8.4/10,89/100,1,0,0,0,1,5,Supernatural
2,67,68,Gilmore Girls,2000,16+,8.1/10,84/100,1,0,0,0,1,2,Gilmore Girls
3,178,179,Merlin,2008,7+,7.9/10,75/100,1,1,1,0,1,9,Merlin
4,321,323,Beauty and the Beast,2012,7+,7.0/10,69/100,1,0,0,1,1,4,Beauty and the Beast
5,831,834,Kung Fu Panda: Legends of Awesomeness,2011,7+,6.8/10,55/100,1,0,0,0,1,6,Kung Fu Panda: Legends of Awesomeness
6,1636,1642,Chosen,2018,None,5.5/10,39/100,1,0,1,0,1,8,Chosen
7,2682,2786,A Christmas Carol,2019,18+,7.2/10,54/100,0,1,0,1,1,10,A Christmas Carol

In [24]:
cols=['Netflix', 'Hulu', 'Prime_Video', 'Disney']
df4 = df3[cols].mean()
df4

Netflix        0.875
Hulu           0.250
Prime_Video    0.250
Disney         0.250
dtype: float64

In [26]:
conn.close()

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present? Yes
2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis? Yes
3. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least? Netflix offered the shows that are on my watchlist. Hulu and Disney had the least.
4. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you? Netflix will be a better option because it offers most of the shows on my watchlist.